.panel {
    position: absolute;
    height: 100vh;
    right: 200px;
    width: 300px;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

